body {
  background-color: #EAF6F6;
}

h1, h3 {
  color: #66bfbf;
}

img {
  border-radius: 100%;
  width: 10%;
  position: absolute;
  margin-top: 20px;
}

.section1text {
  height: 300px;
  max-width: 500px;
  margin: 0 0 0 320px;
  position: relative;
  top: 70px;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  width: 5%
}
